.container {
  max-width: 1500px;
  padding: 0 20px;
  margin: 0 auto;
}

.btn {
  display: inline-block;
  vertical-align: middle;
  text-align: center;
  background: $base-link-color;
  color: $white !important;
  text-decoration: none;
  padding: 5px 15px;
  border-radius: 3px;
  border: none;
  @include animate(background);

  &:hover {
    background: darken($base-link-color, 5%);
  }

  .dark-mode & {
    color: $geyser !important;
  }

  &.view-all-btn {
    width: 100%;
    max-width: 300px;
  }
}

.resize-active * {
  transition: none !important;
}

.text-center {
  text-align: center;
}

pre {
  background: $geyser;
  overflow-x: auto;
  padding: 15px;
  @include animate(background);

  .dark-mode & {
    background: $black;
  }
}
